@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

h1{
    font-weight: 600;
    font-size: 2.4rem;
}

.navar{
    background-color: #ADA2FF;
}
.navFlex{
    width: 100%;
    justify-content: flex-end;
}
.contenedorLogo{
    height: 6vh;
}
.logo{
    height: 100%;
}

.sobreMi {
    margin-top: 10px;
}
.textoJust{
    text-align: justify;
}
.parrafo{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btnPropio{
    background-color: #ADA2FF;
    color: #191919;
}

.btnPropio:hover{
    color: #fff;
    background-color: #7e6dfa;
}
.corousel{
    width: 50%;
}
.carousel-item{
    height: 80vh;
}
.imgCarrusel{
    /*height: 100%;*/
    object-fit: contain;
}
 
.caroulerImg img{
    height: 100%;
}